const Example = () => {
  const [open, setOpen] = useState(false);

  return (
    <Fragment>
      <div
        className="button"
        onClick={() => setOpen(!open)}
        tabIndex="0"
        onKeyDown={(e) => {
          if (e.key === 'Enter') {
            setOpen(!open);
          }
        }}
        role="button"
      >Menu</div>
      {open && (
        <div className="result">
          I am open!
        </div>
      )}
    </Fragment>
  );
}
