const Example = () => {
  const [open, setOpen] = useState(false);

  return (
    <Fragment>
      <SmartButton
        className="button"
        onClick={() => setOpen(!open)}
      >Menu</SmartButton>
      {open && (
        <div className="result">
          I am open!
        </div>
      )}
    </Fragment>
  );
}
